<div class="row">
	<div class="col-md-3">
		<div class="well">
			<%= image_tag avatar_url(current_user), class: "avatar-medium" %>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				Verifications
			</div>
			<div class="panel-body">
				Email Address <br>
				Phone Number
			</div>
		</div>
	</div>

	<div class="col-md-9">
		<h1> <%= current_user.fullname %> </h1> 
	</div>
</div>